In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("assembly-elections-data-at-candidate-level.csv")
print(df.head())

   id  year  month      state_name  state_code  assembly_no   ac_name ac_type  \
0   0  2009      5  Andhra Pradesh          28         13.0  Achampet      SC
1   1  2009      5  Andhra Pradesh          28         13.0  Achampet      SC
2   2  2009      5  Andhra Pradesh          28         13.0  Achampet      SC
3   3  2009      5  Andhra Pradesh          28         13.0  Achampet      SC
4   4  2009      5  Andhra Pradesh          28         13.0  Achampet      SC

            candidate_name   sex  ...  ac_total_candidates total_electors  \
0                 P.Ramulu  MALE  ...                  8.0       210950.0
1      Dr.C.Vamshi Krishna  MALE  ...                  8.0       210950.0
2          P.Muneendranath  MALE  ...                  8.0       210950.0
3  Gadadasu Venkateshwarlu  MALE  ...                  8.0       210950.0
4         Beesamalla Yosef  MALE  ...                  8.0       210950.0

  total_votes  total_valid_votes  vote_share_percentage   margin  \
0     67361.0           144980.0                  46.46   4831.0
1     62530.0           144980.0                  43.13  58067.0
2      4463.0           144980.0                   3.08   1585.0
3      2878.0           144980.0                   1.99    542.0
4      2336.0           144980.0                   1.61     56.0

   margin_percentage  turnout_percentage  poll_no  delimit_id
0               3.33               68.73      0.0         4.0
1              40.05               68.73      0.0         4.0
2               1.09               68.73      0.0         4.0
3               0.37               68.73      0.0         4.0
4               0.04               68.73      0.0         4.0

[5 rows x 24 columns]

In [7]:
print(df.info)

<bound method DataFrame.info of             id  year  month      state_name  state_code  assembly_no  \
0            0  2009      5  Andhra Pradesh          28         13.0
1            1  2009      5  Andhra Pradesh          28         13.0
2            2  2009      5  Andhra Pradesh          28         13.0
3            3  2009      5  Andhra Pradesh          28         13.0
4            4  2009      5  Andhra Pradesh          28         13.0
...        ...   ...    ...             ...         ...          ...
122554  122554  2021      5     West Bengal          19         17.0
122555  122555  2021      5     West Bengal          19         17.0
122556  122556  2021      5     West Bengal          19         17.0
122557  122557  2021      5     West Bengal          19         17.0
122558  122558  2021      5     West Bengal          19         17.0

          ac_name ac_type           candidate_name   sex  ...  \
0        Achampet      SC                 P.Ramulu  MALE  ...
1        Achampet      SC      Dr.C.Vamshi Krishna  MALE  ...
2        Achampet      SC          P.Muneendranath  MALE  ...
3        Achampet      SC  Gadadasu Venkateshwarlu  MALE  ...
4        Achampet      SC         Beesamalla Yosef  MALE  ...
...           ...     ...                      ...   ...  ...
122554  Uttarpara     GEN      Prabir Kumar Ghosal  MALE  ...
122555  Uttarpara     GEN     Rajat Banerjee Bappa  MALE  ...
122556  Uttarpara     GEN                     Nota   NaN  ...
122557  Uttarpara     GEN               Sourav Roy  MALE  ...
122558  Uttarpara     GEN         Ranjan Mukherjee  MALE  ...

        ac_total_candidates total_electors total_votes  total_valid_votes  \
0                       8.0       210950.0     67361.0           144980.0
1                       8.0       210950.0     62530.0           144980.0
2                       8.0       210950.0      4463.0           144980.0
3                       8.0       210950.0      2878.0           144980.0
4                       8.0       210950.0      2336.0           144980.0
...                     ...            ...         ...                ...
122554                  5.0       261060.0     57889.0           199894.0
122555                  5.0       261060.0     42718.0           199894.0
122556                  5.0       261060.0      3353.0           199894.0
122557                  5.0       261060.0      1223.0           199894.0
122558                  5.0       261060.0       833.0           199894.0

        vote_share_percentage   margin  margin_percentage  turnout_percentage  \
0                       46.46   4831.0               3.33               68.73
1                       43.13  58067.0              40.05               68.73
2                        3.08   1585.0               1.09               68.73
3                        1.99    542.0               0.37               68.73
4                        1.61     56.0               0.04               68.73
...                       ...      ...                ...                 ...
122554                  28.96  15171.0               7.59               76.57
122555                  21.37  39365.0              19.69               76.57
122556                   1.68   2130.0               1.07               76.57
122557                   0.61    390.0               0.20               76.57
122558                   0.42      0.0               0.00               76.57

        poll_no  delimit_id
0           0.0         4.0
1           0.0         4.0
2           0.0         4.0
3           0.0         4.0
4           0.0         4.0
...         ...         ...
122554      0.0         4.0
122555      0.0         4.0
122556      0.0         4.0
122557      0.0         4.0
122558      0.0         4.0

[122559 rows x 24 columns]>

In [8]:
print(df.describe())

                  id           year          month     state_code  \
count  122559.000000  122559.000000  122559.000000  122559.000000
mean    61279.000000    2014.941367       7.281456      19.779217
std     35379.880158       3.616182       3.596216       9.689699
min         0.000000    2009.000000       2.000000       1.000000
25%     30639.500000    2012.000000       5.000000      10.000000
50%     61279.000000    2015.000000       5.000000      21.000000
75%     91918.500000    2018.000000      11.000000      28.000000
max    122558.000000    2021.000000      12.000000      37.000000

         assembly_no            age       position  ac_total_candidates  \
count  122559.000000  100988.000000  122559.000000        122559.000000
mean       12.466347      45.216105       7.629476            13.709299
std         3.948450      11.329146       5.771026             7.038399
min         1.000000       0.000000       1.000000             1.000000
25%        11.000000      37.000000       3.000000             9.000000
50%        13.000000      44.000000       6.000000            13.000000
75%        15.000000      53.000000      11.000000            16.000000
max        17.000000      97.000000      78.000000            78.000000

       total_electors    total_votes  total_valid_votes  \
count   122305.000000  122559.000000      122559.000000
mean    228407.150198   12500.471911      154657.235544
std      80319.957661   24429.552352       48246.996693
min       2904.000000       0.000000           0.000000
25%     187694.000000     426.000000      132893.000000
50%     223179.000000    1175.000000      158363.000000
75%     277378.000000    6599.000000      184514.000000
max     865650.000000  288958.000000      664535.000000

       vote_share_percentage         margin  margin_percentage  \
count          122546.000000  122559.000000      122546.000000
mean                8.660432    5698.826484           3.950426
std                15.603803   13883.210991           9.006232
min                 0.000000      -1.000000           0.000000
25%                 0.290000      30.000000           0.020000
50%                 0.790000     185.000000           0.130000
75%                 5.770000    2228.000000           1.830000
max               100.000000  165265.000000         100.000000

       turnout_percentage        poll_no     delimit_id
count       122305.000000  122559.000000  122559.000000
mean            70.030340       0.029798       3.993946
std             11.857397       0.171986       0.077573
min              0.000000       0.000000       3.000000
25%             61.100000       0.000000       4.000000
50%             70.940000       0.000000       4.000000
75%             79.350000       0.000000       4.000000
max            273.590000       2.000000       4.000000

In [9]:
df.isnull().sum()

id                           0
year                         0
month                        0
state_name                   0
state_code                   0
assembly_no                  0
ac_name                      0
ac_type                      0
candidate_name               0
sex                       8476
age                      21571
candidate_type            1141
party                        0
position                     0
ac_total_candidates          0
total_electors             254
total_votes                  0
total_valid_votes            0
vote_share_percentage       13
margin                       0
margin_percentage           13
turnout_percentage         254
poll_no                      0
delimit_id                   0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df = df.drop(columns=["age","sex","candidate_type"])

In [12]:
print(df.columns)

Index(['id', 'year', 'month', 'state_name', 'state_code', 'assembly_no',
       'ac_name', 'ac_type', 'candidate_name', 'party', 'position',
       'ac_total_candidates', 'total_electors', 'total_votes',
       'total_valid_votes', 'vote_share_percentage', 'margin',
       'margin_percentage', 'turnout_percentage', 'poll_no', 'delimit_id'],
      dtype='str')

In [13]:
const_df = df[df["position"] == 1].copy()
const_df.shape

(10623, 21)

In [14]:
const_df.duplicated(subset=["state_name", "ac_name", "year"]).sum()

np.int64(65)

In [15]:
duplicates = const_df[
    const_df.duplicated(
        subset=["state_name", "ac_name", "year", "delimit_id"]
,
        keep=False
    )
]

duplicates.sort_values(
    by=["state_name", "ac_name", "year"]
).head(20)

,id,year,month,state_name,state_code,assembly_no,ac_name,ac_type,candidate_name,party,...,ac_total_candidates,total_electors,total_votes,total_valid_votes,vote_share_percentage,margin,margin_percentage,turnout_percentage,poll_no,delimit_id
1041,1041,2014,5,Andhra Pradesh,28,14.0,Cheepurupalle,GEN,Kimidi Mrunalini,TDP,...,11.0,189401.0,63787.0,154055.0,41.41,20842.0,13.53,81.34,0.0,4.0
1053,1053,2014,5,Andhra Pradesh,28,14.0,Cheepurupalle,GEN,Bhuma Akhila Priya,Y.S.R.(CP),...,1.0,189401.0,0.0,0.0,NaN,0.0,NaN,0.00,1.0,4.0
1741,1741,2009,5,Andhra Pradesh,28,13.0,Gannavaram,SC,Pamula Rajeswari Devi,INC,...,8.0,171189.0,44756.0,134551.0,33.26,3105.0,2.31,78.60,0.0,4.0
1749,1749,2009,5,Andhra Pradesh,28,13.0,Gannavaram,GEN,Venkata Bala Vardhana Rao Dasari,TDP,...,12.0,201578.0,82218.0,174847.0,47.02,15295.0,8.75,86.74,0.0,4.0
1761,1761,2014,5,Andhra Pradesh,28,14.0,Gannavaram,SC,Pulaparty Narayana Murty,TDP,...,12.0,183100.0,74967.0,142815.0,52.49,13505.0,9.46,78.00,0.0,4.0
1774,1774,2014,5,Andhra Pradesh,28,14.0,Gannavaram,GEN,Vallabhaneni Vamsi Mohan,TDP,...,10.0,230634.0,99163.0,199378.0,49.74,9548.0,4.79,86.45,0.0,4.0
1785,1785,2019,4,Andhra Pradesh,28,15.0,Gannavaram,SC,Kondeti Chitti Babu,YSRCP,...,11.0,189385.0,67373.0,156212.0,43.13,22207.0,14.22,82.48,0.0,4.0
1796,1796,2019,4,Andhra Pradesh,28,15.0,Gannavaram,GEN,Vamsi Vallabhaneni,TDP,...,15.0,258084.0,103881.0,220718.0,47.07,838.0,0.38,85.52,0.0,4.0
4594,4594,2014,5,Andhra Pradesh,28,14.0,Nandigama,SC,Thangirala Prabhakara Rao,TDP,...,9.0,184092.0,78721.0,157418.0,50.01,5212.0,3.31,85.51,0.0,4.0
4604,4604,2014,5,Andhra Pradesh,28,14.0,Nandigama,SC,Tangirala Sowmya,TDP,...,4.0,184092.0,99748.0,126257.0,79.00,74827.0,59.27,68.58,1.0,4.0
5058,5058,2009,5,Andhra Pradesh,28,13.0,Nizamabad,GEN,Endala Lakshmi Narayana,BJP,...,12.0,239887.0,40475.0,95187.0,42.52,11015.0,11.57,39.68,0.0,4.0
5082,5082,2009,5,Andhra Pradesh,28,13.0,Nizamabad,GEN,Mandava Venkateshwara Rao,TDP,...,10.0,193494.0,71813.0,150784.0,47.63,28727.0,19.05,77.93,0.0,4.0
6100,6100,2009,5,Andhra Pradesh,28,13.0,Prathipadu,GEN,Parvatha Srisatyanarayana Murthy,TDP,...,16.0,176992.0,46925.0,132851.0,35.32,3286.0,2.47,75.06,0.0,4.0
6116,6116,2009,5,Andhra Pradesh,28,13.0,Prathipadu,SC,Sucharitha Mekathoti,INC,...,14.0,207396.0,66324.0,168669.0,39.32,2042.0,1.21,81.33,0.0,4.0
6141,6141,2014,5,Andhra Pradesh,28,14.0,Prathipadu,GEN,Varupula Subbarao,YSRCP,...,11.0,184820.0,63693.0,148075.0,43.01,3413.0,2.30,80.12,0.0,4.0
6153,6153,2014,5,Andhra Pradesh,28,14.0,Prathipadu,SC,Ravela Kishore Babu,TDP,...,11.0,226325.0,96274.0,193101.0,49.86,7405.0,3.83,85.32,0.0,4.0
6165,6165,2019,4,Andhra Pradesh,28,15.0,Prathipadu,GEN,Sri Purnachandra Prasad Parvatha,YSRCP,...,10.0,202808.0,77103.0,164915.0,46.75,4611.0,2.80,81.32,0.0,4.0
6175,6175,2019,4,Andhra Pradesh,28,15.0,Prathipadu,SC,Mekathoti Sucharitha,YSRCP,...,14.0,250605.0,92508.0,210342.0,43.98,7398.0,3.52,83.93,0.0,4.0
7786,7786,2009,5,Andhra Pradesh,28,13.0,Tekkali,GEN,Revatipathi Korla,INC,...,6.0,179439.0,47513.0,136450.0,34.82,1893.0,1.39,76.04,0.0,4.0
7792,7792,2009,5,Andhra Pradesh,28,13.0,Tekkali,GEN,Korla Bharathi,INC,...,6.0,179439.0,59250.0,133041.0,44.54,7173.0,5.39,74.14,1.0,4.0

In [16]:
duplicates = const_df[
    const_df.duplicated(
        subset=["state_name", "ac_name", "year"],
        keep=False
    )
]

duplicates.sort_values(
    by=["state_name", "ac_name", "year"]
)

,id,year,month,state_name,state_code,assembly_no,ac_name,ac_type,candidate_name,party,...,ac_total_candidates,total_electors,total_votes,total_valid_votes,vote_share_percentage,margin,margin_percentage,turnout_percentage,poll_no,delimit_id
1041,1041,2014,5,Andhra Pradesh,28,14.0,Cheepurupalle,GEN,Kimidi Mrunalini,TDP,...,11.0,189401.0,63787.0,154055.0,41.41,20842.0,13.53,81.34,0.0,4.0
1053,1053,2014,5,Andhra Pradesh,28,14.0,Cheepurupalle,GEN,Bhuma Akhila Priya,Y.S.R.(CP),...,1.0,189401.0,0.0,0.0,NaN,0.0,NaN,0.00,1.0,4.0
1741,1741,2009,5,Andhra Pradesh,28,13.0,Gannavaram,SC,Pamula Rajeswari Devi,INC,...,8.0,171189.0,44756.0,134551.0,33.26,3105.0,2.31,78.60,0.0,4.0
1749,1749,2009,5,Andhra Pradesh,28,13.0,Gannavaram,GEN,Venkata Bala Vardhana Rao Dasari,TDP,...,12.0,201578.0,82218.0,174847.0,47.02,15295.0,8.75,86.74,0.0,4.0
1761,1761,2014,5,Andhra Pradesh,28,14.0,Gannavaram,SC,Pulaparty Narayana Murty,TDP,...,12.0,183100.0,74967.0,142815.0,52.49,13505.0,9.46,78.00,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116948,116948,2011,2,West Bengal,19,15.0,Basirhat Uttar,GEN,A T M Abdulla Rony,AITC,...,4.0,193135.0,87889.0,154339.0,56.95,30941.0,20.05,79.91,1.0,4.0
117062,117062,2011,2,West Bengal,19,15.0,Bhabanipur,GEN,Subrata Bakshi,AITC,...,10.0,212821.0,87903.0,135716.0,64.77,49936.0,36.79,63.77,0.0,4.0
117072,117072,2011,2,West Bengal,19,15.0,Bhabanipur,GEN,Mamata Banerjee,AITC,...,6.0,212821.0,73635.0,95064.0,77.46,54213.0,57.03,44.67,1.0,4.0
120587,120587,2016,5,West Bengal,19,16.0,Monteswar,GEN,Sajal Panja,AITC,...,6.0,219094.0,84134.0,190730.0,44.11,706.0,0.37,87.05,0.0,4.0
120594,120594,2016,5,West Bengal,19,16.0,Monteswar,GEN,Saikat Panja E,AITC,...,6.0,219094.0,147316.0,188704.0,78.07,127127.0,67.37,86.13,1.0,4.0

In [17]:
duplicates = const_df[
    const_df.duplicated(
        subset=["state_name", "ac_name", "year"],
        keep=False
    )
]

duplicates.head(10)

,id,year,month,state_name,state_code,assembly_no,ac_name,ac_type,candidate_name,party,...,ac_total_candidates,total_electors,total_votes,total_valid_votes,vote_share_percentage,margin,margin_percentage,turnout_percentage,poll_no,delimit_id
1041,1041,2014,5,Andhra Pradesh,28,14.0,Cheepurupalle,GEN,Kimidi Mrunalini,TDP,...,11.0,189401.0,63787.0,154055.0,41.41,20842.0,13.53,81.34,0.0,4.0
1053,1053,2014,5,Andhra Pradesh,28,14.0,Cheepurupalle,GEN,Bhuma Akhila Priya,Y.S.R.(CP),...,1.0,189401.0,0.0,0.0,NaN,0.0,NaN,0.00,1.0,4.0
1741,1741,2009,5,Andhra Pradesh,28,13.0,Gannavaram,SC,Pamula Rajeswari Devi,INC,...,8.0,171189.0,44756.0,134551.0,33.26,3105.0,2.31,78.60,0.0,4.0
1749,1749,2009,5,Andhra Pradesh,28,13.0,Gannavaram,GEN,Venkata Bala Vardhana Rao Dasari,TDP,...,12.0,201578.0,82218.0,174847.0,47.02,15295.0,8.75,86.74,0.0,4.0
1761,1761,2014,5,Andhra Pradesh,28,14.0,Gannavaram,SC,Pulaparty Narayana Murty,TDP,...,12.0,183100.0,74967.0,142815.0,52.49,13505.0,9.46,78.00,0.0,4.0
1774,1774,2014,5,Andhra Pradesh,28,14.0,Gannavaram,GEN,Vallabhaneni Vamsi Mohan,TDP,...,10.0,230634.0,99163.0,199378.0,49.74,9548.0,4.79,86.45,0.0,4.0
1785,1785,2019,4,Andhra Pradesh,28,15.0,Gannavaram,SC,Kondeti Chitti Babu,YSRCP,...,11.0,189385.0,67373.0,156212.0,43.13,22207.0,14.22,82.48,0.0,4.0
1796,1796,2019,4,Andhra Pradesh,28,15.0,Gannavaram,GEN,Vamsi Vallabhaneni,TDP,...,15.0,258084.0,103881.0,220718.0,47.07,838.0,0.38,85.52,0.0,4.0
4594,4594,2014,5,Andhra Pradesh,28,14.0,Nandigama,SC,Thangirala Prabhakara Rao,TDP,...,9.0,184092.0,78721.0,157418.0,50.01,5212.0,3.31,85.51,0.0,4.0
4604,4604,2014,5,Andhra Pradesh,28,14.0,Nandigama,SC,Tangirala Sowmya,TDP,...,4.0,184092.0,99748.0,126257.0,79.00,74827.0,59.27,68.58,1.0,4.0

In [18]:
const_df.duplicated(
    subset=["state_name", "ac_name", "year", "ac_type"]
).sum()

np.int64(51)

In [19]:
const_df.duplicated(
    subset=["state_name", "ac_name", "assembly_no", "ac_type"]
).sum()

np.int64(269)

In [20]:
const_df = (
    df.groupby(
        ["state_name", "ac_name", "assembly_no", "ac_type"],
        as_index=False
    )
    .agg({
        "year": "first",
        "total_electors": "first",
        "total_votes": "first",
        "total_valid_votes": "first",
        "turnout_percentage": "first",
        "ac_total_candidates": "first",
        "margin": "max",  # winner margin
        "margin_percentage": "max"
    })
)

In [21]:
const_df.duplicated(
    subset=["state_name", "ac_name", "assembly_no", "ac_type"]
).sum()

np.int64(0)

In [22]:
const_df = const_df.sort_values(
    by=["state_name", "ac_name", "assembly_no"]
)

In [24]:
const_df["turnout_change"] = (
    const_df.groupby(["state_name", "ac_name"])["turnout_percentage"]
    .diff()
)

In [26]:
volatility_df = (
    const_df.groupby(["state_name", "ac_name"])["turnout_percentage"]
    .std()
    .reset_index()
    .rename(columns={"turnout_percentage": "turnout_volatility"})
)

In [27]:
const_df = const_df.merge(
    volatility_df,
    on=["state_name", "ac_name"],
    how="left"
)

In [29]:
const_df.head(10)

,state_name,ac_name,assembly_no,ac_type,year,total_electors,total_votes,total_valid_votes,turnout_percentage,ac_total_candidates,margin,margin_percentage,turnout_change,turnout_volatility
0,Andhra Pradesh,Achampet,13.0,SC,2009,210950.0,67361.0,144980.0,68.73,8.0,58067.0,40.05,NaN,NaN
1,Andhra Pradesh,Achanta,13.0,GEN,2009,142388.0,54903.0,118745.0,83.40,14.0,22378.0,18.85,NaN,1.908961
2,Andhra Pradesh,Achanta,14.0,GEN,2014,159616.0,63549.0,130599.0,81.82,12.0,57975.0,44.39,-1.58,1.908961
3,Andhra Pradesh,Achanta,15.0,GEN,2019,174308.0,66494.0,138747.0,79.60,14.0,39615.0,28.55,-2.22,1.908961
4,Andhra Pradesh,Addanki,13.0,GEN,2009,204732.0,86035.0,173491.0,84.74,12.0,59035.0,34.03,NaN,2.963180
5,Andhra Pradesh,Addanki,14.0,GEN,2014,220531.0,99537.0,198944.0,90.21,10.0,93915.0,47.21,5.47,2.963180
6,Andhra Pradesh,Addanki,15.0,GEN,2019,231977.0,105545.0,207501.0,89.45,11.0,88179.0,42.50,-0.76,2.963180
7,Andhra Pradesh,Adilabad,13.0,GEN,2009,177743.0,62235.0,119852.0,67.43,14.0,31396.0,26.05,NaN,NaN
8,Andhra Pradesh,Adoni,13.0,GEN,2009,201571.0,45294.0,116604.0,57.85,11.0,27121.0,23.26,NaN,4.455068
9,Andhra Pradesh,Adoni,14.0,GEN,2014,211357.0,72121.0,138764.0,65.65,10.0,50566.0,36.44,7.80,4.455068

In [31]:
print(const_df.columns)

Index(['state_name', 'ac_name', 'assembly_no', 'ac_type', 'year',
       'total_electors', 'total_votes', 'total_valid_votes',
       'turnout_percentage', 'ac_total_candidates', 'margin',
       'margin_percentage', 'turnout_change', 'turnout_volatility'],
      dtype='str')

In [32]:
latest_df = (
    const_df.sort_values("assembly_no")
    .groupby(["state_name", "ac_name"])
    .tail(1)
)

In [33]:
latest_df.head()

,state_name,ac_name,assembly_no,ac_type,year,total_electors,total_votes,total_valid_votes,turnout_percentage,ac_total_candidates,margin,margin_percentage,turnout_change,turnout_volatility
5836,Manipur,Kapkot,2.0,GEN,2009,54272.0,13823.0,30279.0,55.79,8.0,7167.0,23.67,NaN,NaN
5970,Manipur,Vikasnagar,2.0,ST,2009,113670.0,24934.0,67175.0,59.10,13.0,14105.0,21.00,NaN,NaN
8277,Telangana,Andole,2.0,SC,2018,221894.0,104229.0,198120.0,89.29,8.0,85360.0,43.08,9.58,6.774083
8275,Telangana,Amberpet,2.0,GEN,2018,241524.0,61558.0,134439.0,55.66,31.0,56281.0,41.86,0.50,0.353553
8271,Telangana,Alair,2.0,GEN,2018,209266.0,94870.0,191481.0,91.50,14.0,49861.0,26.04,5.77,4.080006

In [34]:
latest_df["decline_flag"] = latest_df["turnout_change"] < 0

In [36]:
state_vol_median = (
    latest_df.groupby("state_name")["turnout_volatility"]
    .transform("median")
)

latest_df["high_volatility_flag"] = (
    latest_df["turnout_volatility"] > state_vol_median
)

In [37]:
state_turnout_avg = (
    latest_df.groupby("state_name")["turnout_percentage"]
    .transform("mean")
)

latest_df["low_turnout_flag"] = (
    latest_df["turnout_percentage"] < state_turnout_avg
)

In [38]:
state_elector_median = (
    latest_df.groupby("state_name")["total_electors"]
    .transform("median")
)

latest_df["large_electorate_flag"] = (
    latest_df["total_electors"] > state_elector_median
)

In [39]:
latest_df["decline_flag"] = latest_df["decline_flag"].astype(int)
latest_df["high_volatility_flag"] = latest_df["high_volatility_flag"].astype(int)
latest_df["low_turnout_flag"] = latest_df["low_turnout_flag"].astype(int)
latest_df["large_electorate_flag"] = latest_df["large_electorate_flag"].astype(int)

In [40]:
latest_df["risk_score"] = (
    latest_df["decline_flag"] * 30 +
    latest_df["high_volatility_flag"] * 25 +
    latest_df["low_turnout_flag"] * 25 +
    latest_df["large_electorate_flag"] * 20
)

In [41]:
priority_df = latest_df.sort_values(
    by="risk_score",
    ascending=False
)

priority_df.head(20)

,state_name,ac_name,assembly_no,ac_type,year,total_electors,total_votes,total_valid_votes,turnout_percentage,ac_total_candidates,margin,margin_percentage,turnout_change,turnout_volatility,decline_flag,high_volatility_flag,low_turnout_flag,large_electorate_flag,risk_score
10317,West Bengal,Suti,17.0,GEN,2021,266479.0,127351.0,216328.0,81.18,8.0,70701.0,32.68,-3.70,2.499040,1,1,1,1,100
1292,Bihar,Atri,17.0,GEN,2020,310443.0,62658.0,171418.0,55.22,12.0,28854.0,16.83,-0.21,5.107742,1,1,1,1,100
216,Andhra Pradesh,Kakinada City,15.0,GEN,2019,255773.0,73890.0,171604.0,67.09,16.0,29591.0,17.24,-0.76,2.951728,1,1,1,1,100
136,Andhra Pradesh,Gajuwaka,15.0,GEN,2019,310011.0,75292.0,199284.0,64.28,13.0,53872.0,27.03,-0.64,2.864268,1,1,1,1,100
9824,West Bengal,Haripal,17.0,GEN,2021,270988.0,110215.0,220774.0,81.47,5.0,71348.0,32.32,-3.04,2.060688,1,1,1,1,100
8441,Telangana,Yakutpura,2.0,GEN,2018,333338.0,69595.0,141839.0,42.55,21.0,46978.0,33.12,-8.82,6.236682,1,1,1,1,100
6866,Punjab,Baba Bakala,15.0,SC,2017,188189.0,45965.0,130628.0,69.41,7.0,35340.0,27.05,-2.52,1.781909,1,1,1,1,100
6902,Punjab,Dasuya,15.0,GEN,2017,189486.0,56527.0,130819.0,69.04,12.0,22559.0,17.24,-5.53,3.910300,1,1,1,1,100
6878,Punjab,Batala,15.0,GEN,2017,176725.0,42517.0,123414.0,69.83,13.0,33589.0,27.22,-4.06,2.870854,1,1,1,1,100
6924,Punjab,Firozpur City,15.0,GEN,2017,178050.0,67559.0,125450.0,70.46,11.0,29587.0,23.58,-3.90,2.757716,1,1,1,1,100
6904,Punjab,Dera Baba Nanak,15.0,GEN,2017,183088.0,60385.0,140996.0,77.01,10.0,41969.0,29.77,-3.85,2.722361,1,1,1,1,100
6906,Punjab,Dera Bassi,15.0,GEN,2017,239885.0,70792.0,178140.0,74.26,9.0,35721.0,20.05,-5.06,3.577960,1,1,1,1,100
6760,Puducherry,Indira Nagar,14.0,GEN,2021,36519.0,21841.0,29212.0,79.99,8.0,18531.0,63.44,-4.98,2.795252,1,1,1,1,100
6763,Puducherry,Kadirgamam,14.0,GEN,2021,35383.0,17775.0,27005.0,76.32,6.0,12246.0,45.35,-5.33,3.671843,1,1,1,1,100
6966,Punjab,Kharar,15.0,GEN,2017,222079.0,54171.0,159478.0,71.81,10.0,44188.0,27.71,-5.00,3.535534,1,1,1,1,100
6940,Punjab,Hoshiarpur,15.0,GEN,2017,176169.0,49951.0,123179.0,69.92,11.0,23039.0,18.70,-1.74,1.230366,1,1,1,1,100
6912,Punjab,Dina Nagar,15.0,SC,2017,181776.0,72176.0,130525.0,71.81,9.0,31917.0,24.45,-2.25,1.590990,1,1,1,1,100
6835,Puducherry,Villianur,14.0,GEN,2021,43297.0,19653.0,35266.0,81.45,15.0,11521.0,32.67,-4.30,3.525767,1,1,1,1,100
6772,Puducherry,Karaikal North,14.0,GEN,2021,36594.0,12704.0,28324.0,77.40,10.0,11355.0,40.09,-4.04,3.173788,1,1,1,1,100
6793,Puducherry,Mudaliarpet,14.0,GEN,2021,36401.0,15151.0,29536.0,81.14,12.0,9651.0,32.68,-5.20,3.058545,1,1,1,1,100

In [42]:
def calculate_slope(group):
    if len(group) < 2:
        return np.nan

    x = group["assembly_no"]
    y = group["turnout_percentage"]

    slope = np.polyfit(x, y, 1)[0]
    return slope

trend_df = (
    const_df.groupby(["state_name", "ac_name"])
    .apply(calculate_slope)
    .reset_index(name="turnout_trend_slope")
)

In [43]:
latest_df = latest_df.merge(
    trend_df,
    on=["state_name", "ac_name"],
    how="left"
)

In [44]:
latest_df["future_decline_flag"] = (
    latest_df["turnout_trend_slope"] < 0
).astype(int)

In [47]:
latest_df["risk_score"] = (
    latest_df["risk_score"] +
    latest_df["future_decline_flag"] * 30
)
latest_df.head()

,state_name,ac_name,assembly_no,ac_type,year,total_electors,total_votes,total_valid_votes,turnout_percentage,ac_total_candidates,...,margin_percentage,turnout_change,turnout_volatility,decline_flag,high_volatility_flag,low_turnout_flag,large_electorate_flag,risk_score,turnout_trend_slope,future_decline_flag
0,Manipur,Kapkot,2.0,GEN,2009,54272.0,13823.0,30279.0,55.79,8.0,...,23.67,NaN,NaN,0,0,1,0,25,NaN,0
1,Manipur,Vikasnagar,2.0,ST,2009,113670.0,24934.0,67175.0,59.10,13.0,...,21.00,NaN,NaN,0,0,1,1,45,NaN,0
2,Telangana,Andole,2.0,SC,2018,221894.0,104229.0,198120.0,89.29,8.0,...,43.08,9.58,6.774083,0,1,0,1,45,9.58,0
3,Telangana,Amberpet,2.0,GEN,2018,241524.0,61558.0,134439.0,55.66,31.0,...,41.86,0.50,0.353553,0,0,1,1,45,0.50,0
4,Telangana,Alair,2.0,GEN,2018,209266.0,94870.0,191481.0,91.50,14.0,...,26.04,5.77,4.080006,0,0,0,0,0,5.77,0

In [48]:
latest_df.to_csv("election_final_dataset.csv", index=False)

In [74]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\jashw\pycharmprojects\jupyterproject1\.venv\lib\site-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in c:\users\jashw\pycharmprojects\jupyterproject1\.venv\lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jashw\pycharmprojects\jupyterproject1\.venv\lib\site-packages (from sqlalchemy) (4.15.0)
Using cached psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [75]:

from sqlalchemy import create_engine

# Load your cleaned dataset
latest_df = pd.read_csv("election_final_dataset.csv")

# PostgreSQL connection details
username = "postgres"
password = "jashu123"
host = "localhost"
port = "5432"
database = "Election_Analysis"

# Create connection string
engine = create_engine(
    "postgresql://postgres:jashu123@localhost:5432/Election_Analysis"
)

# Load data into PostgreSQL
latest_df.to_sql(
    name="election",  # table name
    con=engine,
    if_exists="replace",   # use "append" if table already exists
    index=False
)

print("Data loaded successfully!")

Data loaded successfully!